input{
  border: 1px solid black;
  padding-left: 10px;
}

label{
  margin-right: 8px;
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
body{
  background: linear-gradient(90deg,rgb(94, 101, 94),rgb(233, 223, 223));
}